@import url(//db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended);
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.nav-container{
    height: 10vh;
    min-width: 100vw;    
    display: flex;
    margin-top: 0px;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    
}

.links{
    margin-right: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 60px;
    font-size: xx-large;
    font-family: "Monument Extended";
    font-weight: 800;
    color: white;
    
   
}

.link-ele{
    text-decoration: none;
    color: white;
}


.logo{
    font-size: 3rem;
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 40px;
    color: white;
}

.home{
    background-image: url(./assets/homepg.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.home-box{
    position: fixed;
    top:30%;
    bottom: 70%;
    left: 50%;
    right: 50%;
    width: 600px;
    height: 600px;
    display: flex;    
    flex-direction: column;
    align-items: end;

}

.hey{
    font-size: 4rem;
    font-family:'Gloria Hallelujah', cursive;
    margin: 0;
    
    
}
.name{
    font-size: 5rem;
    font-family: "Monument Extended";

}

.intro{
    font-size: 1.5rem;
    text-align: right;

}